{% extends 'base.html' %}

{% block title %}blog titles{% endblock %}

{% block content %}
<div class='row text-center vertical-middle-sm'>
    <h1>My little Website</h1>
</div>
<div class='row'>
    <div class='col-ex-12 col-md-8'>
    <ul>
    {% for blog in blogs %}
        <li><a href='{{ blog.id }}'>{{ blog.title }}</a></li>
    {% endfor %}
    </ul>
    </div>
    <div class= 'col-xs-6 col-md-4'>
    <h2>  Death Stranding</h2>
    <p> Leading Man  </p>
    <img width='918' src='https://www.3dmgame.com/uploads/allimg/160616/317-160616143424.jpg'>
    
    </div>
</div>
{% endblock %}

